*~ 
*.tmp
!.gitkeep
.RData
.Rhistory
*_tmp.*
__pycache__
MscProject
UKBB_Microbiomes/16sRaw/*
UKBB_Microbiomes/results/*
UKBB_Microbiomes/code/*.qza
UKBB_Microbiomes/code/Phylogenetics-master/*
UKBB_RADseq/data
UKBB_RADseq/genome
UKBB_RADseq/results
