*~ 
*.tmp
!.gitkeep
.RData
.Rhistory
*_tmp.*
__pycache__
MscProject_tmp
MscProject/UKBB_Microbiomes/16sRaw/*
MscProject/UKBB_Microbiomes/results/*
MscProject/UKBB_Microbiomes/code/*.qza
MscProject/UKBB_Microbiomes/code/Phylogenetics-master/*
MscProject/UKBB_RADseq/data
MscProject/UKBB_RADseq/genome
MscProject/UKBB_RADseq/results
